@switch (appState()) {
  @case ('login') {
    <app-login (authenticated)="onAuthenticated($event)" />
  }
  @case ('site_selector') {
    <app-site-selector
      [authInfo]="authInfo()!"
      [selectedOrg]="selectedOrg()"
      (orgSelected)="selectedOrg.set($event)"
      (reportStarted)="onReportStarted($event)"
      (navigate)="navigateFromShell($event)"
    />
  }
  @case ('reports') {
    <app-reports
      (navigate)="navigateFromShell($event)"
      (openReport)="onReportStarted($event)"
    />
  }
  @case ('validation_reference') {
    <app-validation-reference (navigate)="navigateFromShell($event)" />
  }
  @case ('report') {
    <app-report-view
      [jobId]="activeJobId()!"
      (back)="showSiteSelector()"
      (navigate)="navigateFromShell($event)"
    />
  }
  @case ('org_report') {
    <app-org-report-view
      [jobId]="activeJobId()!"
      (back)="showSiteSelector()"
      (navigate)="navigateFromShell($event)"
    />
  }
}
